:root {
  --c-brand: #DE2910;
  --c-brand-light: #bb0000;
  --search-input-width: 10rem !important;
}

html.dark {
  --c-brand: #DE2910;
  --c-brand-light: #bb0000;
}

.theme-default-content:not(.custom) {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}
